.normal-card {
    /* diferença de 30px entre o width do card com o width da imagem */
    width: 300px;
    height: 335px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgray;
    margin-top: 2rem;
}
.normal-card > img {
    margin-top: .95rem;
    margin-left: .95rem;
    /* diferença de 100px entre o width e o height */
    height: 170px;
    width: 270px;
    border-radius: 20px;
}

h3 {
    padding: 1rem .95rem 2rem .95rem;
    font-size: 13pt;
}

.autor_normal-card {
    padding: 0 .95rem 0 .95rem;
    font-size: 10pt;
}
.date_normal-card {
    float: right;
    font-size: 8pt;
    color: dimgray;
}