<app-menu-bar></app-menu-bar>

<app-banner-title></app-banner-title>

<div class="content-main">
    <article class="article-main">
        <app-big-card></app-big-card>
    </article>
    
    <aside class="article-right">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </aside>
</div>

<div class="all-posts">
    <app-banner-subtitle></app-banner-subtitle>
    <div class="posts">
        <app-normal-card></app-normal-card>
        <app-normal-card></app-normal-card>
        <app-normal-card></app-normal-card>
    </div>
</div>