<div class="card_subscribe">
    <div class="subscribe-image">
        <img 
        src="{{ photo }}" 
        alt="Pokébola">
    </div>

    <div class="subscribe-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="subscribe-description">
        <p>{{ desc }}</p>
        <br>
        <p>Por apenas:</p>
    </div>

    <div class="subscribe-value">
        <span>R${{ price }}</span>
    </div>

    <div class="subscribe-button">
        <button>Selecionar</button>
    </div>
</div>